@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,600&family=Roboto:wght@100;300;400;500;700&family=Rubik:wght@300;400;500;600;700&display=swap');
*:root{
    --blue: #0C7BE8;
    --black: #0E0E0E;
    --white_bg:#F6F6F6;
    --white: #fff;
    --code_bg: #343d4d;
    --code_text: #f8f8f2;
}

*,
html,
body{
    box-sizing: border-box;
    margin: 0;
    padding: auto;
    font-size: 16px;
    font-family: poppins, sans-serif;
    position: relative;
    
}

.div_btn_socials{
  position: fixed;
  top: 80vh;
  right: 40px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn_social{
  background: var(--blue);
  width: 90px;
  height: 90px;
  border:none;
  border-radius: 50%;
  padding-top: 13px;
  padding-right: 13px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  z-index: 999;
}
.socials{
  position: absolute;
  bottom: 100px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  
}
.check_btn{
  position: absolute;
  z-index: 999;
  opacity: 0;
  border-radius: 50%;
  z-index: 9991;
}
.btn_social:checked ~ .socials{
  visibility: visible;
  
}

.social{
  background: var(--blue);
  width: 90px;
  height: 90px;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  margin-top: 10px;
  cursor: pointer;
}
.social:nth-child(1){
  background: #2ECC71;
}
.social:nth-child(3){
  background: #0D47A1 ;
}
.social:nth-child(4){
  background: #34495E ;
}

.container{
    width: 90vw;
    margin:0  auto;
}


.hr_div{
    border: 1px solid rgba(116, 116, 116, 0.19);
}
section{
    
    overflow: hidden;
}

.animated{
  position: relative;
}


@import url(https://fonts.googleapis.com/css?family=Special+Elite);
.circle {
  position: absolute;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover;
  box-shadow: 0 0 500px -50px #D7E5F3;
}
.circle .rotate {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotate 120s infinite linear;
}
.circle span {
  position: absolute;
  top: -25px;
  left: calc(50% - 3.75px);
  display: block;
  width: 7.5px;
  height: 175px;
  font-family: Special Elite;
  font-size: 1.5rem;
  font-weight: 100;
  text-transform: uppercase;
  color: var(--black);
  transform-origin: bottom center;
}
.circle span:nth-child(1) {
  transform: rotate(6.2deg);
}
.circle span:nth-child(2) {
  transform: rotate(12.4deg);
}
.circle span:nth-child(3) {
  transform: rotate(18.6deg);
}
.circle span:nth-child(4) {
  transform: rotate(24.8deg);
}
.circle span:nth-child(5) {
  transform: rotate(31deg);
}
.circle span:nth-child(6) {
  transform: rotate(37.2deg);
}
.circle span:nth-child(7) {
  transform: rotate(43.4deg);
}
.circle span:nth-child(8) {
  transform: rotate(49.6deg);
}
.circle span:nth-child(9) {
  transform: rotate(55.8deg);
}
.circle span:nth-child(10) {
  transform: rotate(62deg);
}
.circle span:nth-child(11) {
  transform: rotate(68.2deg);
}
.circle span:nth-child(12) {
  transform: rotate(74.4deg);
}
.circle span:nth-child(13) {
  transform: rotate(80.6deg);
}
.circle span:nth-child(14) {
  transform: rotate(86.8deg);
}
.circle span:nth-child(15) {
  transform: rotate(93deg);
}
.circle span:nth-child(16) {
  transform: rotate(99.2deg);
}
.circle span:nth-child(17) {
  transform: rotate(105.4deg);
}
.circle span:nth-child(18) {
  transform: rotate(111.6deg);
}
.circle span:nth-child(19) {
  transform: rotate(117.8deg);
}
.circle span:nth-child(20) {
  transform: rotate(124deg);
}
.circle span:nth-child(21) {
  transform: rotate(130.2deg);
}
.circle span:nth-child(22) {
  transform: rotate(136.4deg);
}
.circle span:nth-child(23) {
  transform: rotate(142.6deg);
}
.circle span:nth-child(24) {
  transform: rotate(148.8deg);
}
.circle span:nth-child(25) {
  transform: rotate(155deg);
}
.circle span:nth-child(26) {
  transform: rotate(161.2deg);
}
.circle span:nth-child(27) {
  transform: rotate(167.4deg);
}
.circle span:nth-child(28) {
  transform: rotate(173.6deg);
}
.circle span:nth-child(29) {
  transform: rotate(179.8deg);
}
.circle span:nth-child(30) {
  transform: rotate(186deg);
}
.circle span:nth-child(31) {
  transform: rotate(192.2deg);
}
.circle span:nth-child(32) {
  transform: rotate(198.4deg);
}
.circle span:nth-child(33) {
  transform: rotate(204.6deg);
}
.circle span:nth-child(34) {
  transform: rotate(210.8deg);
}
.circle span:nth-child(35) {
  transform: rotate(217deg);
}
.circle span:nth-child(36) {
  transform: rotate(223.2deg);
}
.circle span:nth-child(37) {
  transform: rotate(229.4deg);
}
.circle span:nth-child(38) {
  transform: rotate(235.6deg);
}
.circle span:nth-child(39) {
  transform: rotate(241.8deg);
}
.circle span:nth-child(40) {
  transform: rotate(248deg);
}
.circle span:nth-child(41) {
  transform: rotate(254.2deg);
}
.circle span:nth-child(42) {
  transform: rotate(260.4deg);
}
.circle span:nth-child(43) {
  transform: rotate(266.6deg);
}
.circle span:nth-child(44) {
  transform: rotate(272.8deg);
}
.circle span:nth-child(45) {
  transform: rotate(279deg);
}
.circle span:nth-child(46) {
  transform: rotate(285.2deg);
}
.circle span:nth-child(47) {
  transform: rotate(291.4deg);
}
.circle span:nth-child(48) {
  transform: rotate(297.6deg);
}
.circle span:nth-child(49) {
  transform: rotate(303.8deg);
}
.circle span:nth-child(50) {
  transform: rotate(310deg);
}
.circle span:nth-child(51) {
  transform: rotate(316.2deg);
}
.circle span:nth-child(52) {
  transform: rotate(322.4deg);
}
.circle span:nth-child(53) {
  transform: rotate(328.6deg);
}
.circle span:nth-child(54) {
  transform: rotate(334.8deg);
}
.circle span:nth-child(55) {
  transform: rotate(341deg);
}
.circle span:nth-child(56) {
  transform: rotate(347.2deg);
}
.circle span:nth-child(57) {
  transform: rotate(353.4deg);
}
.circle span:nth-child(58) {
  transform: rotate(359.6deg);
}
.circle span:nth-child(59) {
  transform: rotate(365.8deg);
}
.circle span:nth-child(60) {
  transform: rotate(372deg);
}
.circle span:nth-child(61) {
  transform: rotate(378.2deg);
}
.circle span:nth-child(62) {
  transform: rotate(384.4deg);
}
.circle span:nth-child(63) {
  transform: rotate(390.6deg);
}
.circle span:nth-child(64) {
  transform: rotate(396.8deg);
}
.circle span:nth-child(65) {
  transform: rotate(403deg);
}
.circle span:nth-child(66) {
  transform: rotate(409.2deg);
}
.circle span:nth-child(67) {
  transform: rotate(415.4deg);
}
.circle span:nth-child(68) {
  transform: rotate(421.6deg);
}
.circle span:nth-child(69) {
  transform: rotate(427.8deg);
}
.circle span:nth-child(70) {
  transform: rotate(434deg);
}
.circle span:nth-child(71) {
  transform: rotate(440.2deg);
}
.circle span:nth-child(72) {
  transform: rotate(446.4deg);
}
.circle span:nth-child(73) {
  transform: rotate(452.6deg);
}
.circle span:nth-child(74) {
  transform: rotate(458.8deg);
}
.circle span:nth-child(75) {
  transform: rotate(465deg);
}
.circle span:nth-child(76) {
  transform: rotate(471.2deg);
}
.circle span:nth-child(77) {
  transform: rotate(477.4deg);
}
.circle span:nth-child(78) {
  transform: rotate(483.6deg);
}
.circle span:nth-child(79) {
  transform: rotate(489.8deg);
}
.circle span:nth-child(80) {
  transform: rotate(496deg);
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}




@media (min-width:1000px){
  .container{
    width: 1150px;
    margin: auto;
  }
  .circle {
    position: absolute;
    width: 390px;
    height: 390px;
    margin: 0 auto;
    border-radius: 50%;
    background-size: cover;
    box-shadow: 0 0 500px -50px #D7E5F3;
  }
  .circle span {
    position: absolute;
    top: -25px;
    left: calc(50% - 3.75px);
    display: block;
    width: 7.5px;
    height: 220px;
    font-family: Special Elite;
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: uppercase;
    color: var(--black);
    transform-origin: bottom center;
  }
}