*:root{
    --blue: #0834FF;
    --black: #0E0E0E;
    --white: #fff;
    --code_bg: #343d4d;
    --code_text: #f8f8f2;
}

*,
html,
body{
    box-sizing: border-box;
    margin: 0;
    padding: auto;
    font-size: 16px;
    font-family: sans-serif;
    position: relative;
    
}
.div_btn_socials{
  position: fixed;
  top: 85vh;
  right: 40px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn_social{
  background: var(--blue);
  width: 90px;
  height: 90px;
  border:none;
  border-radius: 50%;
  padding-top: 13px;
  padding-right: 13px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
.socials{
  position: absolute;
  bottom: 100px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  
}
.check_btn{
  position: absolute;
  z-index: 999;
  opacity: 0;
  border-radius: 50%;
}
.btn_social:checked ~ .socials{
  visibility: visible;
  
}

.social{
  background: var(--blue);
  width: 90px;
  height: 90px;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  margin-top: 10px;
  cursor: pointer;
}
.social:nth-child(1){
  background: #2ECC71;
}
.social:nth-child(3){
  background: #0D47A1 ;
}
.social:nth-child(4){
  background: #34495E ;
}

.container{
    width: 90vw;
    margin:0  auto;
}
.hr_div{
    border: 1px solid rgba(116, 116, 116, 0.19);
}
section{
    
    overflow: hidden;
}
.inicio{
    
    background: linear-gradient(199.11deg, #F1F1F1 4.75%, rgba(242, 241, 241, 0.854099) 37.2%, rgba(252, 251, 251, 0.74) 102.61%);
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}
.content{
    display: flex;
    flex-direction: column-reverse;
}

.blockTexts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}
.blockTexts p{
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
}
.blockTexts h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 42px;
}
.blockTexts h1{
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: var(--blue);
    text-align: center;
}
.contact_btn{
    width: 100%;
    height: 45px;
    margin-top: 20px;
    background: var(--blue);
    border: none;
    color: #fff;
    transition: all .5s ease;
    cursor: pointer;
}
.contact_btn a{
  color: inherit;
  text-decoration: none;
}
.contact_btn:hover{
    background: none;
    border: 1px solid var(--blue);
    color: var(--blue);
}
.tags_tech{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}
.tag_tech{
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F6F6F6;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
}
.tag_tech .img_tag{
    width: 30px;
    height: 30px;
}
.img_jaso{
    position: relative;
    bottom: -10px; 
    padding-top: 50px;
}
.img_jaso .jaso{
    position: relative;
    z-index: 9;
    width: 370px;
    height: 500px;
}

.img_jaso::before{
    position: absolute;
    content: '';
    width: 300px;
    height: 300px;
    top: 100px;
    left: 0;
    border: 4px solid #FFFFFF;
    z-index: 1;
}
.img_jaso::after{
    position: absolute;
    z-index: 1;
    content: '';
    width: 300px;
    height: 300px;
    bottom: 0px;
    right: 0;
    border: 4px solid #FFC107;
}

.aboutMe{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: space-between;
}
.aboutMe .about_text h2{
    font-weight: 600;
    font-size: 60px;
    line-height: 46px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-end;
    width: 300px;
    position: relative;
    z-index: 9;
}
.aboutMe .about_text h2 span{
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    position: relative;
    z-index: 99;
}
.aboutMe .about_text h2 span::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 20px;
    bottom:-20px;
    left: 0;
    background: #FFC107;
}
.aboutMe .about_text h2::before{
    position: absolute;
    content: '';
    top:60px;
    left: -50px;
    width: 110px;
    height: 110px;
    border: 4px solid #E4E4E4;
    z-index: 1;
}
.aboutMe .about_text h2::after{
    position: absolute;
    content: '';
    top:-10px;
    left: 0;
    width: 125px;
    height: 125px;
    border: 4px solid #FFC107;
    z-index: 1;
}
.aboutMe .description{
    margin-top: 100px;
    width: 100%;
}
.aboutMe .description p:nth-child(2){
    font-weight: 600;
    margin: 15px 0;
}
.aboutMe .description ul{
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.aboutMe .description ul li{
    flex-grow: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0;
    margin-right: 20px;
    padding: 10px;
    width: 100px;
}
.aboutMe .description ul li .check{
    margin-right: 10px;
}
.img_about{
    width: 100%;
}

.services{
    text-align: left;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    
}
.services::before{
    position: absolute;
    content: '';
    top:100px;
    right: -40px;
    width: 125px;
    height: 125px;
    border: 4px solid #E4E4E4;
    
    z-index: 1;
}
.services::after{
    position: absolute;
    content: '';
    top: 50px;
    right: 20px;
    width: 125px;
    height: 125px;
    border: 4px solid #FFC107;
    
    z-index: 1;
}
.services h2{
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.services p{
    width: 40vw;
}
.services .cardServices{
    display: flex;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
}
.cardServices .card{
    margin-bottom: 20px;
    height: 250px;
    background: #FFFFFF;
    box-shadow: -4px -4px 15px rgba(243, 243, 243, 0.19), 4px 4px 10px rgba(134, 134, 134, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
}
.cardServices .card {
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    text-align: center;
}
.cardServices .card p{
    margin-top: 20px;
}
.cardServices .card:hover{
    background: #FFC107;
    box-shadow: -4px -4px 15px #FFFFFF, 4px 4px 10px rgba(203, 153, 2, 0.88);
}
.works{
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.works::before{
    position: absolute;
    content: '';
    top:130px;
    left: -40px;
    width: 125px;
    height: 125px;
    border: 4px solid #E4E4E4;
    
    z-index: 1;
}
.works::after{
    position: absolute;
    content: '';
    top:60px;
    left: 20px;
    width: 125px;
    height: 125px;
    border: 4px solid #FFC107;
    
    z-index: 1;
}
.works h2{
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 30px;
    text-transform: uppercase;
    z-index: 99;
}
.works .projects_home{
    position: relative;
    margin-top: 50px;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.projects_home .card{
    position: relative;
    width: 350px;
    height: 220px;
    margin-bottom: 20px;
    box-shadow: -4px -4px 15px rgba(243, 243, 243, 0.19), 4px 4px 10px rgba(134, 134, 134, 0.25);
}
.projects_home .card .card_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projects_home .card div{
    background: #0834FF70;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: all .5s ease;
}
.projects_home .card:hover div{
    visibility: visible;
    opacity: 1;
}
.projects_home .card div button{
    border: none;
    padding: 10px;
    background: var(--white);
}
.projects_home .card div button *{
    color: var(--blue);
    text-decoration: none;
    font-weight: 600;
}
.works p{
    position: relative;
    width: 40vw;
}
.contact{
    background: var(--black);
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.contact h2{
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--white);
}
.contact .content{
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.contact .content .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.content .form label{
  margin-bottom: 10px;
  margin-top: 10px;
}
.content .form input{
    width: 100%;
    height: 40px;
    padding: 10px;
}
.content .form textarea{
    width: 100%;
    padding: 10px;
    height: 150px;
    resize: none;
}
.content .form .btn_send{
    width: 100%;
    height: 50px;
    background: var(--blue);
    border: none;
    color: var(--white);
    margin: 20px auto;
    cursor: pointer;
}
.content .data{
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: left;
}
.content .data h4{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.content .data p{
    margin: 10px 0;
}

.error_tag{
  background: #E74C3C50;
  color: #E74C3C;
  padding: 5px;
}

@import url(https://fonts.googleapis.com/css?family=Special+Elite);
.circle {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 140px;
  right: 0px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover;
  box-shadow: 0 0 500px -50px #ffe766;
}
.circle .rotate {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotate 120s infinite linear;
}
.circle span {
  position: absolute;
  top: -40px;
  left: calc(50% - 3.75px);
  display: block;
  width: 7.5px;
  height: 200px;
  font-family: Special Elite;
  font-size: 1.5rem;
  font-weight: 100;
  text-transform: uppercase;
  color: var(--black);
  transform-origin: bottom center;
}
.circle span:nth-child(1) {
  transform: rotate(6.2deg);
}
.circle span:nth-child(2) {
  transform: rotate(12.4deg);
}
.circle span:nth-child(3) {
  transform: rotate(18.6deg);
}
.circle span:nth-child(4) {
  transform: rotate(24.8deg);
}
.circle span:nth-child(5) {
  transform: rotate(31deg);
}
.circle span:nth-child(6) {
  transform: rotate(37.2deg);
}
.circle span:nth-child(7) {
  transform: rotate(43.4deg);
}
.circle span:nth-child(8) {
  transform: rotate(49.6deg);
}
.circle span:nth-child(9) {
  transform: rotate(55.8deg);
}
.circle span:nth-child(10) {
  transform: rotate(62deg);
}
.circle span:nth-child(11) {
  transform: rotate(68.2deg);
}
.circle span:nth-child(12) {
  transform: rotate(74.4deg);
}
.circle span:nth-child(13) {
  transform: rotate(80.6deg);
}
.circle span:nth-child(14) {
  transform: rotate(86.8deg);
}
.circle span:nth-child(15) {
  transform: rotate(93deg);
}
.circle span:nth-child(16) {
  transform: rotate(99.2deg);
}
.circle span:nth-child(17) {
  transform: rotate(105.4deg);
}
.circle span:nth-child(18) {
  transform: rotate(111.6deg);
}
.circle span:nth-child(19) {
  transform: rotate(117.8deg);
}
.circle span:nth-child(20) {
  transform: rotate(124deg);
}
.circle span:nth-child(21) {
  transform: rotate(130.2deg);
}
.circle span:nth-child(22) {
  transform: rotate(136.4deg);
}
.circle span:nth-child(23) {
  transform: rotate(142.6deg);
}
.circle span:nth-child(24) {
  transform: rotate(148.8deg);
}
.circle span:nth-child(25) {
  transform: rotate(155deg);
}
.circle span:nth-child(26) {
  transform: rotate(161.2deg);
}
.circle span:nth-child(27) {
  transform: rotate(167.4deg);
}
.circle span:nth-child(28) {
  transform: rotate(173.6deg);
}
.circle span:nth-child(29) {
  transform: rotate(179.8deg);
}
.circle span:nth-child(30) {
  transform: rotate(186deg);
}
.circle span:nth-child(31) {
  transform: rotate(192.2deg);
}
.circle span:nth-child(32) {
  transform: rotate(198.4deg);
}
.circle span:nth-child(33) {
  transform: rotate(204.6deg);
}
.circle span:nth-child(34) {
  transform: rotate(210.8deg);
}
.circle span:nth-child(35) {
  transform: rotate(217deg);
}
.circle span:nth-child(36) {
  transform: rotate(223.2deg);
}
.circle span:nth-child(37) {
  transform: rotate(229.4deg);
}
.circle span:nth-child(38) {
  transform: rotate(235.6deg);
}
.circle span:nth-child(39) {
  transform: rotate(241.8deg);
}
.circle span:nth-child(40) {
  transform: rotate(248deg);
}
.circle span:nth-child(41) {
  transform: rotate(254.2deg);
}
.circle span:nth-child(42) {
  transform: rotate(260.4deg);
}
.circle span:nth-child(43) {
  transform: rotate(266.6deg);
}
.circle span:nth-child(44) {
  transform: rotate(272.8deg);
}
.circle span:nth-child(45) {
  transform: rotate(279deg);
}
.circle span:nth-child(46) {
  transform: rotate(285.2deg);
}
.circle span:nth-child(47) {
  transform: rotate(291.4deg);
}
.circle span:nth-child(48) {
  transform: rotate(297.6deg);
}
.circle span:nth-child(49) {
  transform: rotate(303.8deg);
}
.circle span:nth-child(50) {
  transform: rotate(310deg);
}
.circle span:nth-child(51) {
  transform: rotate(316.2deg);
}
.circle span:nth-child(52) {
  transform: rotate(322.4deg);
}
.circle span:nth-child(53) {
  transform: rotate(328.6deg);
}
.circle span:nth-child(54) {
  transform: rotate(334.8deg);
}
.circle span:nth-child(55) {
  transform: rotate(341deg);
}
.circle span:nth-child(56) {
  transform: rotate(347.2deg);
}
.circle span:nth-child(57) {
  transform: rotate(353.4deg);
}
.circle span:nth-child(58) {
  transform: rotate(359.6deg);
}
.circle span:nth-child(59) {
  transform: rotate(365.8deg);
}
.circle span:nth-child(60) {
  transform: rotate(372deg);
}
.circle span:nth-child(61) {
  transform: rotate(378.2deg);
}
.circle span:nth-child(62) {
  transform: rotate(384.4deg);
}
.circle span:nth-child(63) {
  transform: rotate(390.6deg);
}
.circle span:nth-child(64) {
  transform: rotate(396.8deg);
}
.circle span:nth-child(65) {
  transform: rotate(403deg);
}
.circle span:nth-child(66) {
  transform: rotate(409.2deg);
}
.circle span:nth-child(67) {
  transform: rotate(415.4deg);
}
.circle span:nth-child(68) {
  transform: rotate(421.6deg);
}
.circle span:nth-child(69) {
  transform: rotate(427.8deg);
}
.circle span:nth-child(70) {
  transform: rotate(434deg);
}
.circle span:nth-child(71) {
  transform: rotate(440.2deg);
}
.circle span:nth-child(72) {
  transform: rotate(446.4deg);
}
.circle span:nth-child(73) {
  transform: rotate(452.6deg);
}
.circle span:nth-child(74) {
  transform: rotate(458.8deg);
}
.circle span:nth-child(75) {
  transform: rotate(465deg);
}
.circle span:nth-child(76) {
  transform: rotate(471.2deg);
}
.circle span:nth-child(77) {
  transform: rotate(477.4deg);
}
.circle span:nth-child(78) {
  transform: rotate(483.6deg);
}
.circle span:nth-child(79) {
  transform: rotate(489.8deg);
}
.circle span:nth-child(80) {
  transform: rotate(496deg);
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}


@media (min-width:900px){
    
    .inicio{
    
        background: linear-gradient(199.11deg, #F1F1F1 4.75%, rgba(242, 241, 241, 0.854099) 37.2%, rgba(252, 251, 251, 0.74) 102.61%);
        min-height: 100vh;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
    }
    .content{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .content .blockTexts{
      width: 40vw;
      padding-top: 100px;
    }
    .content .blockTexts h2{
      margin-top: 20px;
        font-size: 48px;
        line-height: 60px;
    }
    .content .blockTexts h1{
        font-size: 48px;
        text-align: left;
        line-height: 60px;
        margin-top: 10px;
    }
    .contact_btn{
      margin-top: 30px;
      width: 132px;
    }
    .tag_tech{
        margin-top: 50px;
        width: 62px;
        height: 62px;
    }
    .tag_tech .img_tag{
        width: 44px;
        height: 44px;
    }
    .img_jaso{
        position: relative;
        bottom: -10px;
    }
    .img_jaso .jaso{
        position: relative;
        z-index: 9;
        width: 430px;
        height: 580px;
        opacity: 1;
        right: 100px;
    }
    
    .img_jaso::before{
        position: absolute;
        content: '';
        width: 320px;
        height: 320px;
        top: 60px;
        left: -100px;
        border: 4px solid #FFFFFF;
        z-index: 1;
    }
    .img_jaso::after{
        position: absolute;
        z-index: 1;
        content: '';
        width: 320px;
        height: 320px;
        top: 200px;
        right: 40px;
        border: 4px solid #FFC107;
    }
    .aboutMe{
        flex-direction: row;
    }
    .aboutMe .description{
        margin: 0;
        width: 35vw;
    }
    .aboutMe .img_about{
        width: 400px;
    }
    .aboutMe .about_text h2::before{
        top:120px;
        left: -70px;
        width: 110px;
        height: 110px;
    }
    .aboutMe .about_text h2::after{
        top:50px;
        left: -15px;
        width: 125px;
        height: 125px;
    }
    .services{
        text-align: center;
    }
    .services p{
        margin: auto;
    }
    .services::before{
        position: absolute;
        content: '';
        top:150px;
        right: -60px;
        width: 125px;
        height: 125px;
        border: 4px solid #E4E4E4;
        
        z-index: 1;
    }
    .services::after{
        position: absolute;
        content: '';
        top: 90px;
        right: 0px;
        width: 125px;
        height: 125px;
        border: 4px solid #FFC107;
        
        z-index: 1;
    }
    .services .cardServices{
        flex-direction: row;
        justify-content: space-between;
    }
    .cardServices .card{
        padding: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
    }
    .cardServices .card p{
        margin-top: 20px;
        width: 100%;
    }
   
    .works{
        padding-top: 80px;
        padding-bottom: 80px;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .works::before{
        top:130px;
        left: -40px;
        width: 125px;
        height: 125px;
        border: 4px solid #E4E4E4;
        
        z-index: 1;
    }
    .works::after{
        top:60px;
        left: 20px;
        width: 125px;
        height: 125px;
        border: 4px solid #FFC107;
        
        z-index: 1;
    }
    .contact .content{
        color: var(--white);
        display: flex;
        flex-direction: row;
    }
    .contact .content .form{
        width: 40vw;
    }
    .circle {
        position: absolute;
        width: 400px;
        height: 400px;
        top: 150px;
        right: 110px;
        z-index: 9;
    }
    .circle span {
        position: absolute;
        top: -40px;
        left: calc(50% - 3.75px);
        display: block;
        width: 7.5px;
        height: 250px;
    }
}