.inicio{
    background-image: url('/img/bg_home.jpg');
    background-position: 20% 40%;
    background-size: cover;
    /* background: linear-gradient(199.11deg, #F1F1F1 4.75%, rgba(242, 241, 241, 0.854099) 37.2%, rgba(252, 251, 251, 0.74) 102.61%); */
      min-height: 100vh;
      display: flex;
      align-items: center;
      overflow: hidden;
      padding-top: 100px;
  }
  .bg_dark{
    background: var(--bg_cover);
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
.inicio .content{
      display: flex;
      flex-direction: column-reverse;
      color: var(--white);
  }

  .blockTexts{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 30px;
  }
  .blockTexts p{
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
  }
  .blockTexts h2{
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      /* color: var(--blue); */
      text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  .blockTexts h1{
      font-weight: 600;
      font-size: 32px;
      line-height: 42px;
      /* text-align: center; */
      text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  .links_home{
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .link_about{
    color: inherit;
    margin-right: 20px;
    /* width: 100%; */
    /* background-color: red; */
    text-decoration: dashed;
    border-bottom: 3px solid var(--white);
  }
  .contact_btn{
      width: 100%;
      margin-top: 20px;
      height: 45px;
      background: var(--blue);
      border: none;
      color: #fff;
      transition: all .5s ease;
      cursor: pointer;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  }
  .contact_btn a{
    color: inherit;
    text-decoration: none;
  }
  .contact_btn:hover{
      background: none;
      border: 1px solid var(--blue);
      color: var(--blue);
  }


.animated{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* top: 50px; */
}
.img_jaso{
    position: relative;
    /* bottom: -10px;  */
    /* padding-top: 50px; */
    background: #F6F6F6;
    box-shadow: inset 0px -20px 20px rgba(0, 0, 0, 0.25), inset 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 877px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
}
.img_jaso .jaso{
    z-index: 99;
    /* right: 100px; */
    width: inherit;
    height: inherit;
    position: relative;
    /* left: -50px; */
}
.img_jaso .jaso img{
    object-fit: cover;
}

.posts_home{
    padding: 40px 0;
    text-align: left;
    background: var(--white_bg);
    color: var(--white);
}
.posts_home h2{
    font-weight: 400;
    line-height: 30px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 15px;
}
.posts_home h2::after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 80px;
    height: 3px;
    background-color: var(--white);
}
.posts_home h3{
    font-weight: 400;
    line-height: 54px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.slide_content{
    position: relative;
    margin-top: 40px;
    /* background: yellow; */
}

.services_home{
    padding: 40px 0;
    text-align: center;
    background-image: url('/img/bg_servicios.jpg');
    color: var(--white);
    background-size: cover;
    background-position: 20% 40%;
    margin: 0;
}
.services_home h2{
    font-weight: 400;
    line-height: 30px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.services_home h3{
    font-weight: 400;
    line-height: 54px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.services_container{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
}
.card_service{
    /* background-color: var(--white_bg); */
    padding: 20px 20px;
    height: 350px;
    margin: 7px 7px;
    display: flex;
    align-items: flex-end;
    text-align: left;
    background-color: var(--bg_cover);
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.25);
}
.card_service div *{
    margin: 10px 0;
}

.project_content{
    display: flex;
    flex-direction: column;
}
.project_content a{
    text-decoration: none;
}
.project_card{
    position: relative;
    width: 100%;
    min-height: 300px;
}
.project_card .project_img{
    position: relative;
    width: 100%;
    height: 300px;
    
    overflow: hidden;
}
.project_card .img_card{
    object-fit: cover;
}
.project_card .data{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.31) 70%, rgba(0, 0, 0, 0.00) 89.02%);
}
.data h2{
    font-size: 20px;
}
.projects_home{
    text-align: center;
    padding: 40px 0;
    background: var(--white_bg);
    color: var(--white);
    /* top: 0px; */
}
.projects_home h2{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.projects_home h3{
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
}
.contact_home{
    background-color: var(--white_bg);
}
.contact_home{
    text-align: center;
    padding: 40px 0;
}
.contact_home h2{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}


@media (min-width:900px){
    .inicio{
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    .inicio .animated{
        margin-top: 100px;
    }
    .inicio .content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
    .inicio .content .blockTexts{
        height: 400px;
        display: flex;
        flex-direction: column;
    }
    .inicio .content .blockTexts{
        text-align: left;
        justify-content: space-between;
        height: auto;
    }
    .blockTexts .text{
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .inicio .content .blockTexts h2{
        font-weight: 600;
        font-size: 30px;
        line-height: 60px;
    }
    .inicio .content .blockTexts h1{
        font-weight: 600;
        font-size: 38px;
        line-height: 52px;
        text-align: left;
        margin-top: 0px;
    }
 
    .links_home{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        /* background: green; */
        margin: 10px 0;
    }
    .link_about{
        /* background: red; */
        /* width: 300px; */
        height: auto;
    }
    .contact_btn{
        width: 200px;
        margin-top: 0;
    }
    .img_jaso{
        width: 390px;
        height: 390px;
    }
    .about_container{
        flex-direction: row;
        padding: 40px 0;
    }
    .about_container .text{
        width: 50%;
    }
    .about_img{
        width: 400px;
        height: 400px;
        position: relative;
    }
    .project_content{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr;
        gap: 15px;
        flex-direction: row;
        margin-top: 40px;
    }
    .services_container{
        margin: 40px 0;
        display: flex;
        flex-direction: row;
    }
    .project_card{
        min-height: 400px;
        
    }
    .project_card .project_img{
        height: 450px;
    }
    .project_card .data{
        transform: translateY(200px);
        opacity: 0;
    }
    .project_card:hover .data{
        transition: all .5s ease;
        transform: translate(0);
        opacity: 1;
    }
    .project_card:hover .img_card{
        transition: all .5s ease-out;
        transform: scale(1.1);
        opacity: 1;
    }
    .services_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }