.header{
    position:fixed;
    display: flex;
    height: 70px;
    width: 100vw;
    z-index: 9999;
    background: transparent;
}
.header_scroll{
    position:fixed;
    display: flex;
    height: 70px;
    width: 100vw;
    z-index: 999;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(89.96deg, #F4F3F3 22.51%, #F2F2F2 71.24%);
}
.container{
    position: relative;
    width: 90vw;
    margin: auto;
    left: -.7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.brand{
    font-weight: 600;
    /* identical to box height */
    /* text-transform: uppercase; */
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
.brand a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}
.navbar{
    background: var(--white);
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 70px;
    left: 0;
    height: 90vh;
    width: 90vw;
    display: none;
}

.navbar *{
    text-decoration: none;
    color: inherit;
    margin: 10px 0;
    font-weight: 400;
    font-size: 20px;
    
}

.btn_menu{
    border: none;
    width: 70px;
    height: 70px;
    transition: all .2s ease-in;
    cursor: pointer;
    background: none;
}
.close_menu:hover{
    cursor: pointer;
    transition: all .2s ease-in;
    transform: rotate(180deg);
}

@media (min-width:900px){
    .container{
        position: relative;
        width: 90vw;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .btn_menu{
        display:none;
    }
    .navbar{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        background: none;
        height: auto;
        width: auto;
        top: 0;
        margin: auto;
        flex-direction: row;
        width: 500px;
        left: 300px;
    }
    .navbar *{
        margin-left: 50px;
        font-size: 1rem;
        line-height: 24px;
        /* identical to box height */
        color: inherit;
        /* text-transform: uppercase; */
        text-decoration: none;
    }
    
    
}
@media (min-width:1000px){
    .container{
      width: 1150px;
      margin: auto;
    }
  }