.post_header{
    position: relative;
    width: 100vw;
    height: 40vh;
}
.post_header img{
    object-fit: cover;
    object-position: 50% 40%;
}
.header_title{
    background: var(--bg_cover);
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 28px;
}
.blog_home{
    padding-top: 70px;
}
.post_container{
    min-height: 100vh;
    width: 100%;
    margin: auto;
    padding-bottom: 40px;
}
.post_container ol{
    margin: 10px 0;
    padding: 0;
    padding-left: 20px;
}
.post_container li{
    color: var(--white_gray);
}
.post_container ul{
    margin: 10px 0;
    padding: 0;
    padding-left: 20px;
}
.post_container h1{
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.post_container h2{
    font-size: 32px;
}
.post_container h3{
    font-size: 24px;
}
.post_container p{
    line-height: 25px;
    margin: 10px 0;
    color: var(--white_gray);
}
.post_container img{
    width: 100%;
}
.post_container pre{
    margin: 10px 0;
    border-radius: 5px;
    background: var(--code_bg);
    color: var(--code_text);
    padding: 10px;
    overflow-x: scroll;
}
.post img{
    width: 100%;
    object-fit: cover;
}
.aside h3::after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 80px;
    height: 3px;
    background-color: var(--white);
}
.aside{
    display: flex;
    flex-direction: column;
    
}
.aside span{
    color: var(--white_gray);
}
.aside ol{
    padding: 0;
}
.aside li{
    list-style: none;
    margin: 20px 0;
}
.aside a{
    text-decoration: none;
}
@media (min-width:900px){
    .post_container{
        display: grid;
        grid-template-columns: 1fr 300px;
        grid-template-rows: 1fr;
        gap: 20px;
    }
    .post h3{
        font-size: 36px;
    }
}