.inicio{
    background: var(--white_bg);
}
.header_home{
    background-image: url('/img/bg_blog.jpg');
    background-position: 10% 50%;
    background-size: cover;
    padding: 40px ;
}
.brand_blog{
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    /* background: red; */
}

.search{
    display: flex;
    justify-content: space-between;
}
.search label{
    min-width: 50px;
    margin-right: 10px;
    height: 30px;
    background: var(--blue);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}
.search label input{
    border: none;
    height: 100%;
    width: 74%;
    padding-left: 10px;
    background: var(--white);
    color: var(--white_bg);
}
.search span{
    /* background: var(--white); */
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.content{
    display: flex;
    flex-wrap: wrap;
}

.content .card_post{
    width: 100%;;
    min-height: 400px;
    /* background: var(--white); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: inherit;
    margin: 10px;
    text-decoration: none;
    /* box-shadow: -4px -4px 15px rgba(243, 243, 243, 0.19), 4px 4px 10px rgba(134, 134, 134, 0.25); */
}
.post_img{
    height: 100%;
    position: relative;
}
.card_post h2{
    text-transform: capitalize;
}
.card_post div{
    padding: 15px 10px;
}
.card_img_post{
    width: 100%;
    object-fit: cover;
}
@media (min-width:900px){
   .content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    margin-top: 20px;
   }
    .content .card_post{
        margin: 0;
        /* width: 320px; */
        /* margin: 10px 25px; */
    }
}
